In [2]:
%load_ext sql

In [5]:
%sql sqlite://

In [11]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

 * sqlite://
(sqlite3.OperationalError) table sales already exists
[SQL: CREATE TABLE sales (
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
%%sql
select * from sales;

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 0, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 0, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 0, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]